# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aula_virtual?schema=public"
