# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=3000

# database
DB_DRIVER='postgresql'
DB_HOST='localhost'
DB_PORT=5432
DB_NAME='aulavirtual'
DB_USER='aulavirtual'
DB_PASSWORD='ne@eb5LiAZ4895sfasf4sfdf4+asd6f'
DATABASE_URL="${DB_DRIVER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='sff48ew4f8e4fwe3hsadsa-asdasb1y5j4gfvb@dsfdsfds-dsadasdasdasdasd'

# JWT (legacy - mantenido por compatibilidad)
JWT_SECRET='sff48ew4f8e4fwe3hsadsa-asdasb1y5j4gfvb@dsfdsfds-dsadasdasdasdasd'

# Branding
NEXT_PUBLIC_TEMPLATE_NAME='TERRAMETT'
NEXT_PUBLIC_TEMPLATE_SLOGAN='Ingeniería que transforma'
NEXT_PUBLIC_TEMPLATE_LOGO='/images/logoterra.png'
NEXT_PUBLIC_SETTINGS_COOKIE_NAME='terravirtual'

# Colors
NEXT_PUBLIC_PRIMARY_COLOR_MAIN='#1178ac'
NEXT_PUBLIC_PRIMARY_COLOR_LIGHT='#88c7e7'
NEXT_PUBLIC_PRIMARY_COLOR_DARK='#0d5c85'

# Izipay Web Core (Sandbox)
IZIPAY_MERCHANT_CODE='4004345'
IZIPAY_API_KEY='VErethUtraQuxas57wuMuquprADrAHAb'
IZIPAY_RSA_KEY='VErethUtraQuxas57wuMuquprADrAHAb'
IZIPAY_ENDPOINT='https://sandbox-api-pw.izipay.pe'
NEXT_PUBLIC_IZIPAY_SDK_URL='https://sandbox-checkout.izipay.pe/payments/v1/js/index.js'
